doctype html
html
    head
        title= title 
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        header.header
            div(class="header")
                a(href="/hub")
                    img(src="/images/MO.png")
        block content