extends layout

block content
    div(class='grid-container')
        div(class='container')
            h1(class='switch-form') Sign Up
            form(method='POST')
                div.form-group(class='user-form')
                    label(for='firstname') First Name
                    input#firstname.form-control(type='text', name='firstname' required)
                    label(for='lastname') Last Name
                    input#lastname.form-control(type='text', name='lastname' required)
                    label(for='email') Email
                    input#email.form-control(type='email', name='email' required)
                    label(for='password') Password
                    input#password.form-control(type='password', name='password' required)
                    button.btn.btn-primary(type='submit' class='submitButton') Sign Up
                div(class='switch-form')
                    p Already have an account?
                    a.button(href='/hub/log-in' class='submitButton') Log In
    
    if errors
        ul
            for error in errors
                li!= error.msg